global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'kafka-jmx'
    static_configs:
      - targets: ['jmx-exporter:9404']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'kafka'
